automacao-caixa-dagua.json
[
    {
        "id": "dcf1c0a06b41b388",
        "type": "tab",
        "label": "Automação Sensor de Caixa Dágua",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "778841ea56d4c15a",
        "type": "server-state-changed",
        "z": "dcf1c0a06b41b388",
        "name": "Nível da Caixa Dágua",
        "server": "3ac1c590f6b3fb6b",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sensor.caixa_dagua"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "num",
        "ifState": "",
        "ifStateType": "num",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": false,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 140,
        "y": 180,
        "wires": [
            [
                "265963f64cf37e2d",
                "d81c89db8689d7cd",
                "93d45cef53ac62c2"
            ]
        ]
    },
    {
        "id": "265963f64cf37e2d",
        "type": "api-current-state",
        "z": "dcf1c0a06b41b388",
        "name": "Checar input number para ligar relay",
        "server": "3ac1c590f6b3fb6b",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "num",
        "halt_if_compare": "is",
        "entity_id": "input_number.ligar_relay",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "ligar_relay",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 470,
        "y": 100,
        "wires": [
            [
                "9ccd0261ca890ed4"
            ]
        ]
    },
    {
        "id": "d81c89db8689d7cd",
        "type": "api-current-state",
        "z": "dcf1c0a06b41b388",
        "name": "Checar input number para desligar relay",
        "server": "3ac1c590f6b3fb6b",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "num",
        "halt_if_compare": "is",
        "entity_id": "input_number.desligar_relay",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "desligar_relay",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 480,
        "y": 180,
        "wires": [
            [
                "74f777d96b8b63bd"
            ]
        ]
    },
    {
        "id": "9ccd0261ca890ed4",
        "type": "switch",
        "z": "dcf1c0a06b41b388",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "ligar_relay",
                "vt": "msg"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 100,
        "wires": [
            [
                "c6f009e3bfda48e1"
            ]
        ]
    },
    {
        "id": "74f777d96b8b63bd",
        "type": "switch",
        "z": "dcf1c0a06b41b388",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "desligar_relay",
                "vt": "msg"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 180,
        "wires": [
            [
                "5d952737af962153"
            ]
        ]
    },
    {
        "id": "9fc77f7889810e87",
        "type": "api-call-service",
        "z": "dcf1c0a06b41b388",
        "name": "Ligar Relay",
        "server": "3ac1c590f6b3fb6b",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.relay_1"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_on",
        "x": 1130,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "e99a740f31712dcb",
        "type": "api-call-service",
        "z": "dcf1c0a06b41b388",
        "name": "Desligar Relay",
        "server": "3ac1c590f6b3fb6b",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.relay_1"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_off",
        "x": 1140,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "d6f0103323903752",
        "type": "api-current-state",
        "z": "dcf1c0a06b41b388",
        "name": "Checa input number para alarme sonoro",
        "server": "3ac1c590f6b3fb6b",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "num",
        "halt_if_compare": "is",
        "entity_id": "input_number.alarme_sonoro",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "alarme_sonoro",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 800,
        "y": 260,
        "wires": [
            [
                "2e285eabf1837804"
            ]
        ]
    },
    {
        "id": "2e285eabf1837804",
        "type": "switch",
        "z": "dcf1c0a06b41b388",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "alarme_sonoro",
                "vt": "msg"
            },
            {
                "t": "gt",
                "v": "alarme_sonoro",
                "vt": "msg"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1070,
        "y": 260,
        "wires": [
            [
                "59479a69e8c4b05f"
            ],
            [
                "bda4c9bea414e5bd"
            ]
        ]
    },
    {
        "id": "59479a69e8c4b05f",
        "type": "api-call-service",
        "z": "dcf1c0a06b41b388",
        "name": "Ligar Sirene",
        "server": "3ac1c590f6b3fb6b",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.sirene"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_on",
        "x": 1250,
        "y": 240,
        "wires": [
            [
                "f935c85eb9139934"
            ]
        ]
    },
    {
        "id": "bda4c9bea414e5bd",
        "type": "api-call-service",
        "z": "dcf1c0a06b41b388",
        "name": "Desligar Sirene",
        "server": "3ac1c590f6b3fb6b",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.sirene"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_off",
        "x": 1260,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "f935c85eb9139934",
        "type": "delay",
        "z": "dcf1c0a06b41b388",
        "name": "",
        "pauseType": "random",
        "timeout": "2",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "2",
        "randomLast": "5",
        "randomUnits": "minutes",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1440,
        "y": 240,
        "wires": [
            [
                "7f953af869911287"
            ]
        ]
    },
    {
        "id": "7f953af869911287",
        "type": "api-call-service",
        "z": "dcf1c0a06b41b388",
        "name": "Desligar Sirene",
        "server": "3ac1c590f6b3fb6b",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.sirene"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_off",
        "x": 1640,
        "y": 240,
        "wires": [
            [
                "1823904b43c92382"
            ]
        ]
    },
    {
        "id": "1823904b43c92382",
        "type": "delay",
        "z": "dcf1c0a06b41b388",
        "name": "",
        "pauseType": "random",
        "timeout": "2",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "2",
        "randomLast": "5",
        "randomUnits": "minutes",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1840,
        "y": 240,
        "wires": [
            [
                "d6f0103323903752"
            ]
        ]
    },
    {
        "id": "c6f009e3bfda48e1",
        "type": "api-current-state",
        "z": "dcf1c0a06b41b388",
        "name": "Relay desligado?",
        "server": "3ac1c590f6b3fb6b",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "switch.relay_1",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 930,
        "y": 100,
        "wires": [
            [
                "9fc77f7889810e87"
            ],
            []
        ]
    },
    {
        "id": "5d952737af962153",
        "type": "api-current-state",
        "z": "dcf1c0a06b41b388",
        "name": "Relay ligado?",
        "server": "3ac1c590f6b3fb6b",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "switch.relay_1",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 920,
        "y": 180,
        "wires": [
            [
                "e99a740f31712dcb"
            ],
            []
        ]
    },
    {
        "id": "93d45cef53ac62c2",
        "type": "api-current-state",
        "z": "dcf1c0a06b41b388",
        "name": "Checa se Beep Sonoro está ligado",
        "server": "3ac1c590f6b3fb6b",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.beep_sonoro",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 460,
        "y": 260,
        "wires": [
            [
                "d6f0103323903752"
            ],
            []
        ]
    },
    {
        "id": "3ac1c590f6b3fb6b",
        "type": "server",
        "name": "Home Assistant de Testes",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": ": ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "default",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": false
    }
]